
.video-previews {
  margin-top: auto;
  padding-bottom: 20px;
  transform: translateY(50%);
}
.video-previews-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.video-card {
  position: relative;
  width: 360px;
  height: 227px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.video-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.play-button-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66px;
  height: 66px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .hero-section { height: auto; padding-bottom: 150px; }
  .main-nav { display: none; } /* Простое приложение для мобильных устройств, нужно только добавить меню */
  .title-line-1 { font-size: 48px; }
  .title-line-2 { font-size: 64px; }
  .title-connector { font-size: 40px; top: -20px; left: 120px; }
  .video-previews { transform: translateY(0); padding-top: 40px; }
  .video-previews-container { justify-content: center; flex-wrap: wrap; }
}